@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;700&display=swap');


/* Reusable variables */

:root {
    --main-color: #0075F2;
    --secondary-color: #268fff;
    --bg-color: white;
    --text-color: black;
    --accent-color: #e1e3e1;
    --font: 'Inter', sans-serif;
    --extra-light: 200;
    --light: 300;
    --semi-bold: 600;
    --bold: 700;
}

/* Default rules */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Nav-bar rules */

nav{
    flex: 1;
    text-align: right;
    z-index: 100;
    margin-right: 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-family: var(--font);
    font-weight: var(--semi-bold);
}

ul {
    list-style: none;
}

nav ul li a:hover {
    color: var(--icon-color-main);
    cursor: pointer;
}

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 25px;
    z-index: 100;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--accent-color);
}

.floatingNav{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

/* Top left logo */

.logo {
    padding-left: 30px;
    font-family: var(--font);
    font-weight: var(--bold);
}

.lowercase {
    font-family: var(--font);
    font-weight: var(--light);
}

/* Rest */

body {
    background-color: var(--bg-color);
    margin: 0px;
    box-sizing: border-box;
    color: var(--text-color);
    overflow-x: hidden;
}

.grid-layout {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    display: grid;
    justify-content: space-between;
    grid-template-columns: [margin-left-start main-start] 80px [margin-left-end] auto [margin-right-start] 80px [main-end margin-right-end];
}

.left, .right {
    position: relative;
}

/* Intro rules */

.intro{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content-banner {
    height: 40px;
    width: 200px;
    background: var(--main-color);
    position: relative;
}

.content-banner:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 20px solid white;
    border-right: 20px solid var(--main-color);
    width: 100;
}

.content-banner-flipped {
    height: 40px;
    width: 200px;
    background: var(--main-color);
    position: relative;
    float: right;
}

.content-banner-flipped:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 20px solid black;
    border-left: 20px solid var(--main-color);
    width: 100;
}

.content-text {
    position: absolute;
    left: 25%;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: white;
    font-size: 2.0rem;
}

.content-text-flipped {
    position: absolute;
    right: 20%;
    font-family: var(--font);
    font-size: 2.0rem;
}

.intro-left-content, .intro-right-content {
    margin: 50px;
    padding: 10px;
    max-width: 400px;
    font-family: var(--font);
}

.intro-description {
    font-size: 1.8rem;
    font-family: var(--font);
}

.intro-text {
    font-size: 2.5rem;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    margin: auto;
}

.scroll-down-info {
    margin-left: 60px;
    padding: 10px;
    display: table;
}

.scroll-down-info:hover {
    transform: translateY(.50rem);
    cursor: pointer;
}

#arrow {
    margin-left: 30px;
}

.vertical {
    top: 0px;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, transparent calc(50% - 0.81px), var(--accent-color) calc(50% - 0.8px), var(--accent-color) calc(50% + 0.8px), transparent calc(50% + 0.81px), transparent 100%);
}

.underline {
    border-bottom: solid 1px var(--secondary-color);
    border-width: 3px;
}

/* About rules */ 

.about {
    height: 40vh;
}

.about-title {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	margin: -25px -8px;
    font-family: var(--font);
    font-size: 2.5rem;
    font-weight: var(--bold);
}

.about-title::before,
.about-title::after {
	content: "";
	flex-grow: 1;
	background: var(--accent-color);
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.bracket {
    color:var(--main-color);
    margin: 0;
    padding: 0;
}

.about-container{
    border-left: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    margin: auto;
    padding: 50px;
}

.about-content{
    font-family: var(--font-accent);
    font-size: 1.2rem;
}

.about-description {
    font-size: 1.2rem;
    font-family: var(--font);
}

footer{
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--accent-color);
}

.footer-content {
    height: 100px;
    margin: auto;
    width: 400px;
    text-align:center;
    padding:10px;
    font-family: var(--font);
    font-weight: var(--light);
    color: black;
}
