@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;700&display=swap');


/* Reusable variables */

:root {
    --main-color: #FC4E04;
    --secondary-color: #ff7b42;
    --bg-color: #f5f5f5;
    --text-color: black;
    --accent-color: #e1e3e1;
    --alt-color: #D1E8DE;
    --bg-text-color: rgb(225, 227, 225,.4);
    --font: 'Inter', sans-serif;
    --extra-light: 200;
    --light: 300;
    --semi-bold: 600;
    --bold: 700;
}

/* Default rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Nav-bar rules */

nav{
    flex: 1;
    text-align: right;
    z-index: 100;
    margin-right: 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-family: var(--font);
    font-weight: var(--semi-bold);
}

ul {
    list-style: none;
}

nav ul li a:hover {
    color: var(--accent-color);
    cursor: pointer;
    transition: .3s;
}

.navbar {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--accent-color);
    z-index: 100;
}

.floatingNav{
   position: sticky;
   top: 0;
   width: 100%;
   position: -webkit-sticky;
   position: -moz-sticky;
   position: -ms-sticky;
   position: -o-sticky;
}

.active {
    border-bottom: solid 1px var(--secondary-color);
    border-width: 3px;
}
/* Top left logo */

.logo {
    padding-left: 30px;
    font-family: var(--font);
    font-weight: var(--bold);
}

.lowercase {
    font-family: var(--font);
    font-weight: var(--light);
}

/* Rest */

body {
    background-color: var(--bg-color);
    margin: 0px;
    box-sizing: border-box;
    color: var(--text-color);
    overflow-x: hidden;
}

.grid-layout {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    display: grid;
    justify-content: space-between;
    grid-template-columns: [margin-left-start main-start] 80px [margin-left-end] auto [margin-right-start] 80px [main-end margin-right-end];
}

.left, .right {
    position: relative;
}

/* Intro rules */

.intro{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.content-banner {
    height: 40px;
    width: 200px;
    background: var(--main-color);
    position: relative;
}

.content-banner:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 20px solid white;
    border-right: 20px solid var(--main-color);
    width: 100;
}

.content-banner-flipped {
    height: 40px;
    width: 200px;
    background: var(--main-color);
    position: relative;
    float: right;
}

.content-banner-flipped:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 20px solid black;
    border-left: 20px solid var(--main-color);
    width: 100;
}

.content-text {
    position: absolute;
    left: 25%;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: white;
    font-size: 2.0rem;
}

.content-text-flipped {
    position: absolute;
    right: 20%;
    font-family: var(--font);
    font-size: 2.0rem;
}

.intro-left-content, .intro-right-content {
    margin: 50px;
    padding: 10px;
    max-width: 400px;
    font-family: var(--font);
}

.intro-description {
    font-size: 1.8rem;
    font-family: var(--font);
}

.intro-text {
    font-size: 2.5rem;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    margin: auto;
}

.scroll-down-info {
    margin-left: 60px;
    padding: 10px;
    display: table;
}

.scroll-down-info:hover {
    transform: translateY(.50rem);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.intro-bg-text {
    line-height:100%;
    position: absolute;
    z-index: -1;
    bottom: 60%;
    right: 85%;
    overflow: hidden;
    font-size: 6rem;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: var(--bg-text-color);
    transform: rotate(-90deg);
    white-space: pre-line
}

.intro-bg-text-right {
    line-height:90%;
    position: absolute;
    z-index: -1;
    bottom: 8%;
    left: 55%;
    overflow: hidden;
    font-size: 6rem;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: var(--bg-text-color);
    white-space: pre-line;
}


#arrow {
    margin-left: 30px;
}

.vertical {
    top: 0px;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, transparent calc(50% - 0.81px), var(--accent-color) calc(50% - 0.8px), var(--accent-color) calc(50% + 0.8px), transparent calc(50% + 0.81px), transparent 100%);
}

.underline {
    border-bottom: solid 1px var(--secondary-color);
    border-width: 3px;
}

/* About rules */ 

.about {
    display: flex;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}

.about-title, .experience-title {
    font-family: var(--font);
    font-weight: var(--semi-bold);
    font-size: 2.0rem;;
}


.about-container{
    font-family: var(--font);
    font-size: 1.25rem;;
}

.bracket {
    color:var(--main-color);
    margin: 0;
    padding: 0;
}


/* Experience rules */
.experience {
    height: 100vh;
    margin-top: 50px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.experience-content{
    overflow: hidden;
    position: relative;
}

.bg-banner {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 500px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.swiper {
    width: 1200px;
    height: 800px;
    z-index: 100;
  }

.swiper-slide {
    display: flex;
    justify-content: center;
}

.experience-card{
    align-self: center;
    border-radius: 10px;
    height: 600px;
    width: 800px;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.experience-top-card{
    display: flex;
    flex-direction: row;
}

.experience-top-info {
    font-family: var(--font);
    margin-top: 20px;
    margin-left: 30px;
}

.experience-bottom-card {
    margin-top: 20px;
    font-family: var(--font);
}

.experience-lists {
    list-style-type: disc;
    margin-left: 50px;
}

/* Footer rules */
footer{
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--accent-color);
}

.footer-content {
    height: 100px;
    margin: auto;
    width: 400px;
    text-align:center;
    padding:10px;
    font-family: var(--font);
    font-weight: var(--light);
    color: black;
}
